<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="add_order">
        <form action="/add_order" method="post">
            <label for="thing">Thing</label>
            <input type="text" name="thing" id="thing">

            <label for="price">Price</label>
            <input type="text" name="price" id="price">

            <input type="submit" id="add" value="ADD ORDER">
        </form>
    </div>
</body>
